doctype html
html(lang="en")
  head
    meta( charset='utf-8' )
    title= Welcome
  body
  
  h1 Whats up !{nickname}
  ul      
    each c in courses
        div(id= c.course)
            li !{c.course}
            li !{c.description}
            ul
                each task in c.tasks
                    div(id= task.task)
                        li !{task.task}
                        li !{task.description}